* {
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 14px;
}

window#waybar {
    background: rgba(25, 0, 50, 0.45);
    border-radius: 12px;
    margin: 10px 14px;
    padding: 4px;
    border: 1px solid rgba(180, 140, 220, 0.6);
    backdrop-filter: blur(20px);
    color: white;
}

#custom-theme, #custom-hotkeys, #workspaces button {
    background: rgba(180, 140, 220, 0.25);
    border-radius: 8px;
    padding: 4px 10px;
}

#clock, #network, #pulseaudio, #cpu, #memory, #battery, #tray {
    padding: 0 12px;
    margin: 0 6px;
    background: rgba(180, 140, 220, 0.18);
    border-radius: 8px;
}
